/* HTML selectors */
input, p, select {
    color: #333;
    background-color: #f0f0f0;
    font-style: italic;
    border: 2px solid blue;
}

/* Class selectors */
.moderate {
    color: green;
    background-color: #d3ffd3;
    font-style: normal;
    border: 2px dashed green;
}

.gaudy {
    color: yellow;
    background-color: #ff6347;
    font-style: bold;
    border: 3px solid yellow;
}

/* ID selectors */
#id1 {
    color: red;
    background-color: #ffebcd;
    font-weight: bold;
    border: 2px solid red;
}
