* { 
    margin: 0;
    padding: 0;
}
body {
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    display: flex;
    flex-direction: column;
    padding: 30px;
    border: solid black 2px;
    align-items: center;
    background-color: white;
    border-radius: 10px;
}

.container h1 {
    margin-bottom: 20px;
}

.container div {
    margin: 15px 0;
}

label {
    font-size: 16px;
    margin-bottom: 5px;
    display: block;
}

.input input{
 width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.radio {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    margin-right: 10px;
}

.btn button {
    background-color: rgb(43, 226, 226);
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    color: white;
    font-size: 16px;
    
    
}
.btn button a{
    text-decoration: none;
    color: #ccc;

}
.btn button:hover {
    background-color: rgb(38, 0, 255);
}
